.movie-card {
    width: 30%;
    margin: 0.5em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-flow:column;
    border: 5px #8c8c8c solid;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

.movie-card:hover {
    border-color: dodgerblue;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;
}

.movie-card {
    font-size: 1vw;
}


.movie-title {
    height: 3em;
}

.movie-card > img {
    max-width: 100%;
    height: auto;
}

.backdrop > img {
    width: 100%;
}

.favorite{
    color: black;
}

.movie-form {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.movie-form a {
    font-size: 1em;
}

.movie-card p {
    margin: 0.5em;
}