.highlight{
    background: #8c8c8c;
}


.initial{
    -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s;
}

.cart-container{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

.cart-title{
    font-size: 2em;
}
.cart-image{
    max-height: 100%;
}